//- Block
mixin sfsdf(m)

	//- Mutation
	- var p = m === undefined ? '' : '--' + m;

	//- Element 'text'
	mixin text(em)
		//- Mutation
		- var ep = em === undefined ? '' : '--' + em;

		input(class='sfsdf#{p}__text#{ep} type="text" ')

	//- Element 'password'
	mixin password(em)
		//- Mutation
		- var ep = em === undefined ? '' : '--' + em;

		input(class='sfsdf#{p}__password#{ep} type="password" required ')

	//- Element 'label'
	mixin label(em)
		//- Mutation
		- var ep = em === undefined ? '' : '--' + em;

		div(class='sfsdf#{p}__label#{ep}')


	//- Body
	div(class='sfsdf#{p}')