mixin sect-header(img, title, desc, type)

	- var sectId = type !== undefined ? type : '';

	.sect-header(id="#{sectId}")
		img(src=img, alt=title)
		
		.sect-header__inf
			if title
				h1= title
			
			if desc
				span= desc 