//- Block
mixin search(m)

	//- Mutation
	- var p = m === undefined ? '' : '--' + m;

	//- Element 'input:input'
	mixin input:input(em)
		//- Mutation
		- var ep = em === undefined ? '' : '--' + em;

		div(class='search#{p}__input:input#{ep}')

	//- Element 'link:a'
	mixin link:a(em)
		//- Mutation
		- var ep = em === undefined ? '' : '--' + em;

		div(class='search#{p}__link:a#{ep}')

	//- Element 'button:input'
	mixin button:input(em)
		//- Mutation
		- var ep = em === undefined ? '' : '--' + em;

		div(class='search#{p}__button:input#{ep}')


	//- Body
	div(class='search#{p}')